@charset "utf-8";

@-webkit-keyframes fadeIn{
	0%{opacity:0}
	to{opacity:1}
}
@keyframes fadeIn{
	0%{opacity:0}
	to{opacity:1}
}
@-webkit-keyframes fadeInUp{
	0%{-webkit-transform:translateY(30%);opacity:0;transform:translateY(30%)}
	to{-webkit-transform:translateY(0);opacity:1;transform:translateY(0)}
}
@keyframes fadeInUp{
	0%{-webkit-transform:translateY(30%);opacity:0;transform:translateY(30%)}
	to{-webkit-transform:translateY(0);opacity:1;transform:translateY(0)}
}
@-webkit-keyframes fadeInLeft{
	0%{-webkit-transform:translateX(-5%);opacity:0;transform:translateX(-5%)}
	to{-webkit-transform:translateX(0);opacity:1;transform:translateX(0)}
}
@keyframes fadeInLeft{
	0%{-webkit-transform:translateX(-5%);opacity:0;transform:translateX(-5%)}
	to{-webkit-transform:translateX(0);opacity:1;transform:translateX(0)}
}
@-webkit-keyframes fadeInRight{
	0%{-webkit-transform:translateX(5%);opacity:0;transform:translateX(5%)}
	to{-webkit-transform:translateX(0);opacity:1;transform:translateX(0)}
}
@keyframes fadeInRight{
	0%{-webkit-transform:translateX(5%);opacity:0;transform:translateX(5%)}
	to{-webkit-transform:translateX(0);opacity:1;transform:translateX(0)}
}
@-webkit-keyframes floating{
	0%{-webkit-transform: translateY(0px);transform: translateY(0px)}
	50%{-webkit-transform: translateY(-20px);transform: translateY(-20px)}
	100%{-webkit-transform: translateY(0px);transform: translateY(0px)}
}
@keyframes floating{
	0%{-webkit-transform: translateY(0px);transform: translateY(0px)}
	50%{-webkit-transform: translateY(-20px);transform: translateY(-20px)}
	100%{-webkit-transform: translateY(0px);transform: translateY(0px)}
}

.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft}
.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight}
.floating{-webkit-animation:floating 2.5s ease-in-out infinite;animation:floating 2.5s ease-in-out infinite}

.animated{-webkit-animation-duration:1s;-webkit-animation-fill-mode:both;animation-duration:1s;animation-fill-mode:both;opacity:0}
.animated.delay-03s{-webkit-animation-delay:0.3s;animation-delay:0.3s}
.animated.delay-06s{-webkit-animation-delay:0.6s;animation-delay:0.6s}
.animated.delay-09s{-webkit-animation-delay:0.9s;animation-delay:0.9s}
.animated.delay-12s{-webkit-animation-delay:1.2s;animation-delay:1.2s}
.animated.delay-15s{-webkit-animation-delay:1.5s;animation-delay:1.5s}
